<section class="container" ng-cloak="">

	<h1>Listado de Usuarios Registrados</h1>

	<!--table class="table table-hover">
		<thead>
			<tr>
				<th>Nombres</th>
				<th>Apellidos</th>
				<th>Email</th>
				<th>Num Documento</th>
				<th>Switch</th>
				<th>Acción</th>

			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in vm.usuarios">
				<td>{{item.nombres}}</td>
				<td>{{item.apellidos}}</td>
				<td>{{item.email}}</td>
				<td>{{item.numDocumento}}</td>
				<td><md-switch ng-model="item.activo" aria-label="Switch 2" ng-change="vm.cambiarEstado(item)">
					Activo: {{item.activo}}
				</md-switch></td>
				<td><a class="btn btn-primary" ng-click="vm.goUpdateUser(item.id)" >Editar</a></td>
			</tr>
		</tbody>
	</table -->
	<!--MD DATA TABLE -->
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3>Filtro</h3>
		<input class="letter" type="text" ng-model="vm.filtro">
	</div>

<div class="panel-body">
	<md-table-container>
		<table md-table>
			<thead md-head>
				<tr>
					<th md-column>Nombres</th>
					<th md-column>Apellidos</th>
					<th md-column>Email</th>
					<th md-column>Num. Documento</th>
					<th md-column>Switch</th>
					<th md-column>Actualizar</th>
				</tr>
			</thead>
			<tbody md-body>
				<tr md-row ng-repeat="item in vm.usuarios | limitTo:vm.query.limit: (vm.query.page -1) * vm.query.limit | filter:vm.filtro">
					<td md-cell>{{item.nombres}}</td>
					<td md-cell>{{item.apellidos}}</td>
					<td md-cell>{{item.email}}</td>
					<td md-cell>{{item.numDocumento}}</td>
					<td><md-switch ng-model="item.activo" aria-label="Switch 2" ng-change="vm.cambiarEstado(item)"> Activo: {{item.activo}} </md-switch></td>
					<td md-cell><a class="btn btn-primary" ng-click="vm.goUpdateUser(item.id)">Editar<a/></td>
				</tr>
			</tbody>
		</table>
	</md-table-container>

	<md-table-pagination md-limit="vm.query.limit"
	                     md-limit-options="[5, 10, 15, 30]"
											 md-page="vm.query.page"
											 md-total="{{vm.usuarios.length}}"
											 md-on-paginate="getDeserts" md-page-select>
	</md-table-pagination/>
</div>
</div>

	<!--MD DATA TABLE-->
</section>
