<h3>Usuarios Update</h3>

<div class="container">
	<div class="row">
		<div class="col-xs-6">
			<form ng-submit="vm.updateUser()">
				<div class="form-group">
				
				<label>Tipo Documento</label>
				<input type="text" class="form-control" ng-model="vm.usuario.tipoDocumento.id=">

				<label>Numero Documento</label>
				<input type="text" class="form-control" ng-model="vm.usuario.numDocumento">

				<label>Apellidos</label>
				<input type="text" class="form-control" ng-model="vm.usuario.apellidos">

				<label>Nombres</label>
				<input type="text" class="form-control" ng-model="vm.usuario.nombres">

				<label>Email</label>
				<input type="text" class="form-control" ng-model="vm.usuario.email">

				<label>Sexo</label>
				<input type="text" class="form-control" ng-model="vm.usuario.sexo">
				</div>
                
                <label>Actualizar Departamento</label>
					<select class="form-control" id="" ng-model="vm.idDepartamento" ng-change="vm.getCiudades()">
					<option ng-value="{{item.id}}" ng-repeat="item in vm.departamentos">{{item.nombre}}</option>
				</select><br>

				<label>Actualizar Ciudad</label>
					<select class="form-control" id=""  ng-model="vm.usuario.ciudad.id">
					<option ng-value="{{item.id}}" ng-repeat="item in vm.ciudades">{{item.nombre}}</option>
				</select><br>

				<button type="submit" class="btn btn-success">Actualizar Usuario</button>
			</form>
		</div>	
	</div>
</div>
