<h1>Registrar Nuevo Usuario</h1>

<form name="userForm" ng-submit="userForm.$valid && vm.createUser()" novalidate>

<label for="">Tipo Documento</label>
	<input type="text" ng-model="vm.usuario.tipoDocumento.id">


<div class="form-group">
	<label for="">Documento</label>
	<input class="form-control"
	type="text"
	name="documento"
	required
	minlength="7"
	maxlength="10"
	ng-pattern="/^[0-9]*$/"
	ng-blur="vm.validarNumDocumento()"
	ng-model="vm.usuario.numDocumento">
	<div class=""
	ng-messages="userForm.documento.$error"
	ng-if="userForm.documento.$dirty">

	<div class="" ng-message="required">
		<p>El campo es requerido</p>
	</div>
	  <div class="" ng-message="minlength">
		 <p>El numero de documento debe tener como minimo 7 caracteres</p>
	  </div>
		<div class="" ng-message="pattern">
		 <p>El numero de documento debe tener solo numeros</p>
	  </div>
  </div>
  </div>
  <div class="alert alert-danger" role="alert" ng-show="vm.showValidaDocumento">
	<p>El numero de documento ya se encuentra registrado</p>
</div>

	<label for="">Apellidos</label>

	<input type="text" ng-model="vm.usuario.apellidos">

	<label for="">Nombres</label>
	<input type="text" ng-model="vm.usuario.nombres">

  <div class="">
	<label for="">Email</label>
	<input type="text"
	name="email"
	required
   ng-pattern="/[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?/"
	 ng-model="vm.usuario.email"
	 ng-blur="vm.validarCorreo()">
	 <div class=""
		 ng-messages="userForm.email.$error"
		 ng-show="userForm.email.$dirty">
	 <div ng-message ="pattern">
		 <p>Direccion de correo no valida</p>
	 </div>
  </div>
</div>
	<label for="">password</label>
	<input type="password" ng-model="vm.usuario.password">

	<label for="">Sexo</label>
	<input type="text" ng-model="vm.usuario.sexo">

	<!-- Autocomplete -->
	<md-autocomplete
          md-selected-item="vm.selectedItem"
          md-search-text-change="vm.searchTextChange(vm.searchText)"
          md-search-text="vm.searchText"
          md-selected-item-change="vm.selectedItemChange(item)"
          md-items="item in vm.querySearch(vm.searchText)"
          md-item-text="item.nombre"
          md-min-length="0"
          placeholder="Digite su ciudad de origen">
        <md-item-template>
          <span md-highlight-text="vm.searchText" md-highlight-flags="^i">{{item.nombre}}</span>
        </md-item-template>
        <md-not-found>
          No states matching "{{vm.searchText}}" were found.
          <a ng-click="vm.newState(ctrl.searchText)">Create a new one!</a>
        </md-not-found>
      </md-autocomplete>
	<!-- Autocomplete -->
<button type="submit" ng-disabled="userForm.$invalid">Registrar</button>

</form>
